<%- include('header') -%>

<h1>Innskráning</h1>

<form method="post" action="/login">
  <div class="field">
    <label for="username">Notendanafn</label>
    <input type="text" name="username" id="username" class="">
  </div>
  <div class="field">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password" class="">
  </div>

  <button class="submit">Innskrá</button>
</form>

<%- include('footer') -%>