* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: 3em auto 5em auto;
  max-width: 75em;
}

header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.navbar {
  display: flex;
  flex-flow: row;
  list-style: none;
}

.navref {
  color: black;
  margin-right: 1rem;
  text-decoration: none;
}

.navref.selected {
  font-weight: bold;
  text-decoration: underline;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 3em;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5em;
  margin: 1rem 0;
}

form {
  display: flex;
  flex-flow: column;
}

.errors {
  list-style-type: disc;
  margin-bottom: 2rem;
}

.error {
  display: list-item;
  padding: 2px;
}

.field {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0.25rem 0;
  padding: 0.5rem;
}

.field--radio {
  flex-flow: row;
  justify-content: flex-start;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.field--radio.field--invalid{
  background-color: #fbb;
  border-color: #855;
}

.field--invalid input, .field--invalid textarea{
  background-color: #fbb;
  border-color: #855;
}

.text {
  align-items: flex-start;
}

label {
  align-items: center;
  display: flex;
  flex-flow: row;
  font-size: 22px;
}

input, textarea, .submit {
  border: 1px solid #888;
  font: inherit;
}

input[type=text], input[type=email], input[type=tel], input[type=password], textarea {
  border-radius: 4px;
  padding: 0.5em;
  width: 85%;
}

input[type=radio] {
  margin-right: 10%;
}

.submit {
  background-color: white;
  border-radius: 4px;
  height: 80%;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.submit:hover {
  background-color: #bbb;
  cursor: pointer;
  transition: 300ms ease-in;
}

.applications {
  display: flex;
  flex-flow: column;
}

.apptext {
  margin-top: 1em;
}

.butts {
  align-items: center;
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1%;
}

.users {
  overflow-x: auto;
}

table {
  width: 500px;
}

th, td {
  padding: 0.5rem;
}

@media (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column-reverse;
  }
  header {
    flex-direction: column;
  }
  .field {
    align-items: flex-start;
    flex-flow: column wrap;
  }
  .butts {
    width: 75%;
  }
}
